::ng-deep {
  .form-popup {
    background: #ffffff;
    height: 598px;
    width: 698px;
    border-radius: 10px;
    mat-dialog-container {
      padding: 0px;
    }
  }
}

.field-details {
  height: 298px;
  overflow: auto;
}

.button-section {
  text-align: center;
  .save-btn {
    margin-right: 4px;
  }
  .cancel-btn {
    margin-left: 4px;
  }
}
