<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Change Password</nb-card-header>
            <nb-card-body>
                <div class="form-group row">
                    <label for="inputPassword1" class="label col-sm-3 col-form-label">New Password</label>
                    <div class="col-sm-9">
                        <input type="password" [(ngModel)]="formFields.passwordValue" nbInput fullWidth
                            id="inputPassword1" placeholder="New Password">
                        <span class="form-error" *ngIf="formFields.passwordError">{{ formFields.passwordErrorMsg
                            }}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword2" class="label col-sm-3 col-form-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input type="password" [(ngModel)]="formFields.cpasswordValue" nbInput fullWidth
                            id="inputPassword2" placeholder="Confirm Password">
                        <span class="form-error" *ngIf="formFields.cpasswordError">{{ formFields.cpasswordErrorMsg
                            }}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-3 col-sm-9">
                        <button type="submit" nbButton status="primary" (click)="submitForm()">Submit</button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-3"></div>
</div>