<div class="col-md-4 custom-card" *ngIf="!openSteps">
  <nb-card class="flow-card" (click)="openFlow(flow.id)" *ngFor="let flow of flowsData">
    <nb-card-body>
      <div class="container">
        <div class="title">
          <h4>{{ flow.name }}</h4>
        </div>
        <div class="navigate-button">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<div class="form-data row" *ngIf="openSteps">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Flow {{ activeFlow }}</nb-card-header>
      <nb-card-body>
        <nb-stepper #stepper>
          <nb-step [stepControl]="firstForm" label="Power Transformer">
            <div class="first-row main-row row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <input type="number" nbInput placeholder="Enter the No. of Power Transfomers" class="form-control count"
                  [(ngModel)]="firstLevelCount" (keyup)="setValue(firstLevelCount)" />
              </div>
              <div class="col-sm-3"></div>
            </div>
            <form [formGroup]="firstForm" class="step-container first-form" *ngIf="firstLevelCount > 0">
              <div class="first-row row" *ngFor="let item of counter(firstLevelCount); let i = index">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <div class="form-data">
                    <div class="input-field">
                      <div class="form-group">
                        <label for="inputFirst{{i}}" class="label">Power Transformer {{i+1}}</label>
                        <input type="text" class="form-control" placeholder="Enter Transformer {{i+1}} Value"
                          formControlName="firstCtrl-{{i}}" id="inputFirst{{i}}"
                          [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}" />
                      </div>
                    </div>
                    <div class="add-button">
                      <div class="navigate-button" (click)="opentransformersMaster(i,1)" title="Add Master">
                        <i class="fas fa-plus-circle"></i>
                      </div>
                    </div>
                    <div class="next-step">
                      <button nbButton
                        class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                        [disabled]="firstForm.invalid" nbButton nbStepperNext>
                        <i class="fas fa-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3"></div>
              </div>
              <!-- <button nbButton nbStepperNext>next</button> -->
            </form>
          </nb-step>
          <nb-step [stepControl]="secondForm" label="Distribution Transformer">
            <div class="second-row main-row row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <input type="number" placeholder="Enter the No. of Distribution Transfomers" class="form-control count"
                  [(ngModel)]="secondLevelCount" />
              </div>
              <div class="col-sm-3"></div>
            </div>
            <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container second-form"
              *ngIf="secondLevelCount > 0">
              <div class="first-row row" *ngFor="let item of counter(secondLevelCount); let i = index">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <div class="form-data">
                    <div class="input-field">
                      <div class="form-group">
                        <label for="inputFirst{{i}}" class="label">Distribution Transformer {{i+1}}</label>
                        <input type="text" class="form-control" placeholder="Enter Transformer {{i+1}} Value"
                          formControlName="secondCtrl" id="inputFirst{{i}}"
                          [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}" />
                      </div>
                    </div>
                    <div class="add-button">
                      <div class="navigate-button" (click)="opentransformersMaster(i,2)" title="Add Master">
                        <i class="fas fa-plus-circle"></i>
                      </div>
                    </div>
                    <div class="next-step">
                      <button nbButton
                        class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                        [disabled]="secondForm.invalid" nbButton nbStepperNext>
                        <i class="fas fa-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3"></div>
              </div>
              <!-- <button nbButton nbStepperNext>next</button> -->
            </form>
          </nb-step>
          <nb-step [stepControl]="thirdForm" label="Power House">
            <div class="third-row main-row row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <input type="number" placeholder="Enter the No. of Power House" class="form-control count"
                  [(ngModel)]="thirdLevelCount" />
              </div>
              <div class="col-sm-3"></div>
            </div>
            <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container third-form"
              *ngIf="thirdLevelCount > 0">
              <div class="first-row row" *ngFor="let item of counter(thirdLevelCount); let i = index">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <div class="form-data">
                    <div class="input-field">
                      <div class="form-group">
                        <label for="inputFirst{{i}}" class="label">Power House {{i+1}}</label>
                        <input type="text" class="form-control" placeholder="Enter Powerhouse {{i+1}} Value"
                          formControlName="thirdCtrl" id="inputFirst{{i}}"
                          [ngClass]="{'form-control-danger': thirdForm.invalid && (thirdForm.dirty || thirdForm.touched)}" />
                      </div>
                    </div>
                    <div class="add-button">
                      <div class="navigate-button" (click)="opentransformersMaster(i,3)" title="Add Master">
                        <i class="fas fa-plus-circle"></i>
                      </div>
                    </div>
                    <div class="next-step">
                      <button nbButton
                        class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                        [disabled]="thirdForm.invalid" nbButton nbStepperNext>
                        <i class="fas fa-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3"></div>
              </div>
              <!-- <button nbButton nbStepperNext>next</button> -->
            </form>
          </nb-step>
          <nb-step [stepControl]="fourthForm" label="MV Panel">
            <div class="row show-grid">
              <div class="col-6">
                <div class="fourth-row main-row row">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-6">
                    <input type="number" placeholder="Enter the No. of MV Panel 1" class="form-control count"
                      [(ngModel)]="fourthLevel1Count" />
                  </div>
                  <div class="col-sm-3"></div>
                </div>
                <form [formGroup]="fourthForm" (ngSubmit)="onFourthSubmit()" class="step-container fourth-form"
                  *ngIf="fourthLevel1Count > 0">
                  <div class="first-row row" *ngFor="let item of counter(fourthLevel1Count); let i = index">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                      <div class="form-data">
                        <div class="input-field">
                          <div class="form-group">
                            <label for="inputFirst{{i}}" class="label">Type 1 MV Panel {{i+1}}</label>
                            <input type="text" class="form-control" placeholder="Enter Type 1 MV Panel {{i+1}} Value"
                              formControlName="fourthPanel1Ctrl" id="inputFirst{{i}}"
                              [ngClass]="{'form-control-danger': fourthForm.invalid && (fourthForm.dirty || fourthForm.touched)}" />
                          </div>
                        </div>
                        <div class="add-button">
                          <div class="navigate-button" (click)="opentransformersMaster(i,4)" title="Add Master">
                            <i class="fas fa-plus-circle"></i>
                          </div>
                        </div>
                        <div class="next-step">
                          <button nbButton
                            class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                            [disabled]="fourthForm.invalid" nbButton nbStepperNext>
                            <i class="fas fa-arrow-right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <!-- <button nbButton nbStepperNext>next</button> -->
                </form>
              </div>
              <div class="col-6">
                <div class="fourth-row main-row row">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-6">
                    <input type="number" placeholder="Enter the No. of MV Panel 2" class="form-control count"
                      [(ngModel)]="fourthLevel2Count" />
                  </div>
                  <div class="col-sm-3"></div>
                </div>
                <form [formGroup]="fourthForm" (ngSubmit)="onFourthSubmit()" class="step-container fourth-form"
                  *ngIf="fourthLevel2Count > 0">
                  <div class="first-row row" *ngFor="let item of counter(fourthLevel2Count); let i = index">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                      <div class="form-data">
                        <div class="input-field">
                          <div class="form-group">
                            <label for="inputFirst{{i}}" class="label">Type 2 MV Panel {{i+1}}</label>
                            <input type="text" class="form-control" placeholder="Enter Type 2 MV Panel {{i+1}} Value"
                              formControlName="fourthPanel2Ctrl" id="inputFirst{{i}}"
                              [ngClass]="{'form-control-danger': fourthForm.invalid && (fourthForm.dirty || fourthForm.touched)}" />
                          </div>
                        </div>
                        <div class="add-button">
                          <div class="navigate-button" (click)="opentransformersMaster(i,4)" title="Add Master">
                            <i class="fas fa-plus-circle"></i>
                          </div>
                        </div>
                        <div class="next-step">
                          <button nbButton
                            class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                            [disabled]="fourthForm.invalid" nbButton nbStepperNext>
                            <i class="fas fa-arrow-right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <!-- <button nbButton nbStepperNext>next</button> -->
                </form>
              </div>
            </div>
          </nb-step>
          <nb-step [stepControl]="fifthForm" label="Capacitor / Department Feeder">
            <div class="row show-grid">
              <div class="col-6 row">
                <div class="col-12">
                  <h6>Capacitor</h6>
                </div>
                <div class="col-6">
                  <div class="fifth-row main-row row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                      <input type="number" placeholder="Enter the No. of Type 1 Capacitor" class="form-control count"
                        [(ngModel)]="capacitor1" />
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <form [formGroup]="fifthForm" (ngSubmit)="onFifthSubmit()" class="step-container fifth-form"
                    *ngIf="capacitor1 > 0">
                    <div class="first-row row" *ngFor="let item of counter(capacitor1); let i = index">
                      <div class="col-sm-12">
                        <div class="form-data">
                          <div class="input-field">
                            <div class="form-group">
                              <label for="inputFirst1{{i}}" class="label">Type 1 Capacitor {{i+1}}</label>
                              <input type="text" class="form-control" placeholder="Enter Type 1 Capacitor {{i+1}} Value"
                                formControlName="capacitor1Ctrl" id="inputFirst1{{i}}"
                                [ngClass]="{'form-control-danger': fifthForm.invalid && (fifthForm.dirty || fifthForm.touched)}" />
                            </div>
                          </div>
                          <div class="add-button">
                            <div class="navigate-button" (click)="opentransformersMaster(i,5)" title="Add Master">
                              <i class="fas fa-plus-circle"></i>
                            </div>
                          </div>
                          <div class="next-step">
                            <button nbButton
                              class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                              [disabled]="fifthForm.invalid" nbButton nbStepperNext>
                              <i class="fas fa-arrow-right"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <button nbButton nbStepperNext>next</button> -->
                  </form>
                </div>
                <div class="col-6">
                  <div class="fifth-row main-row row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                      <input type="number" placeholder="Enter the No. of Type 2 Capacitor" class="form-control count"
                        [(ngModel)]="capacitor2" />
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <form [formGroup]="fifthForm" (ngSubmit)="onFifthSubmit()" class="step-container fifth-form"
                    *ngIf="capacitor2 > 0">
                    <div class="first-row row" *ngFor="let item of counter(capacitor2); let i = index">
                      <div class="col-sm-12">
                        <div class="form-data">
                          <div class="input-field">
                            <div class="form-group">
                              <label for="inputFirst2{{i}}" class="label">Type 2 Capacitor {{i+1}}</label>
                              <input type="text" class="form-control" placeholder="Enter Type 2 Capacitor {{i+1}} Value"
                                formControlName="capacitor2Ctrl" id="inputFirst2{{i}}"
                                [ngClass]="{'form-control-danger': fifthForm.invalid && (fifthForm.dirty || fifthForm.touched)}" />
                            </div>
                          </div>
                          <div class="add-button">
                            <div class="navigate-button" (click)="opentransformersMaster(i,5)" title="Add Master">
                              <i class="fas fa-plus-circle"></i>
                            </div>
                          </div>
                          <div class="next-step">
                            <button nbButton
                              class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                              [disabled]="fifthForm.invalid" nbButton nbStepperNext>
                              <i class="fas fa-arrow-right"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <button nbButton nbStepperNext>next</button> -->
                  </form>
                </div>
              </div>
              <div class="col-6 row">
                <div class="col-12">
                  <h6>Department Feeder</h6>
                </div>
                <div class="col-6">
                  <div class="fifth-row main-row row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                      <input type="number" placeholder="Enter the No. of Type 1 Feeder" class="form-control count"
                        [(ngModel)]="Feeder1" />
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <form [formGroup]="fifthForm" (ngSubmit)="onFifthSubmit()" class="step-container fifth-form"
                    *ngIf="Feeder1 > 0">
                    <div class="first-row row" *ngFor="let item of counter(Feeder1); let i = index">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-10">
                        <div class="form-data">
                          <div class="input-field">
                            <div class="form-group">
                              <label for="inputFirst3{{i}}" class="label">Type 1 Feeder {{i+1}}</label>
                              <input type="text" class="form-control"
                                placeholder="Enter Type 1 Department Feeder {{i+1}} Value" formControlName="Feeder1Ctrl"
                                id="inputFirst3{{i}}"
                                [ngClass]="{'form-control-danger': fifthForm.invalid && (fifthForm.dirty || fifthForm.touched)}" />
                            </div>
                          </div>
                          <div class="add-button">
                            <div class="navigate-button" (click)="opentransformersMaster(i,5)" title="Add Master">
                              <i class="fas fa-plus-circle"></i>
                            </div>
                          </div>
                          <div class="next-step">
                            <button nbButton
                              class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                              [disabled]="fifthForm.invalid" nbButton nbStepperNext>
                              <i class="fas fa-arrow-right"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <!-- <button nbButton nbStepperNext>next</button> -->
                  </form>
                </div>
                <div class="col-6">
                  <div class="fifth-row main-row row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                      <input type="number" placeholder="Enter the No. of Department Feeder 2" class="form-control count"
                        [(ngModel)]="Feeder2" />
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <form [formGroup]="fifthForm" (ngSubmit)="onFifthSubmit()" class="step-container fifth-form"
                    *ngIf="Feeder2 > 0">
                    <div class="first-row row" *ngFor="let item of counter(Feeder2); let i = index">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-10">
                        <div class="form-data">
                          <div class="input-field">
                            <div class="form-group">
                              <label for="inputFirst4{{i}}" class="label">Type 2 Feeder {{i+1}}</label>
                              <input type="text" class="form-control"
                                placeholder="Enter Type 2 Department Feeder {{i+1}} Value" formControlName="Feeder2Ctrl"
                                id="inputFirst4{{i}}"
                                [ngClass]="{'form-control-danger': fifthForm.invalid && (fifthForm.dirty || fifthForm.touched)}" />
                            </div>
                          </div>
                          <div class="add-button">
                            <div class="navigate-button" (click)="opentransformersMaster(i,5)" title="Add Master">
                              <i class="fas fa-plus-circle"></i>
                            </div>
                          </div>
                          <div class="next-step">
                            <button nbButton
                              class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                              [disabled]="fifthForm.invalid" nbButton nbStepperNext>
                              <i class="fas fa-arrow-right"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <!-- <button nbButton nbStepperNext>next</button> -->
                  </form>
                </div>
              </div>
            </div>
          </nb-step>
          <nb-step [stepControl]="sixthForm" label="Capacitor / Distribution Board">
            <div class="row show-grid">
              <div class="col-6 row">
                <div class="col-12">
                  <h6>Capacitor</h6>
                </div>
                <div class="col-6">
                  <div class="fifth-row main-row row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                      <input type="number" placeholder="Enter the No. of Capacitor 1" class="form-control count"
                        [(ngModel)]="dfcapacitor1" />
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <form [formGroup]="sixthForm" (ngSubmit)="onSixthSubmit()" class="step-container sixth-form"
                    *ngIf="dfcapacitor1 > 0">
                    <div class="first-row row" *ngFor="let item of counter(dfcapacitor1); let i = index">
                      <div class="col-sm-12">
                        <div class="form-data">
                          <div class="input-field">
                            <div class="form-group">
                              <label for="inputFirst1{{i}}" class="label">Type 1 Capacitor {{i+1}}</label>
                              <input type="text" class="form-control" placeholder="Enter Type 1 Capacitor {{i+1}} Value"
                                formControlName="dfcapacitor1Ctrl" id="inputFirst1{{i}}"
                                [ngClass]="{'form-control-danger': sixthForm.invalid && (sixthForm.dirty || sixthForm.touched)}" />
                            </div>
                          </div>
                          <div class="add-button">
                            <div class="navigate-button" (click)="opentransformersMaster(i,6)" title="Add Master">
                              <i class="fas fa-plus-circle"></i>
                            </div>
                          </div>
                          <div class="next-step">
                            <button nbButton
                              class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                              [disabled]="sixthForm.invalid" nbButton nbStepperNext>
                              <i class="fas fa-arrow-right"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <button nbButton nbStepperNext>next</button> -->
                  </form>
                </div>
                <div class="col-6">
                  <div class="fifth-row main-row row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                      <input type="number" placeholder="Enter the No. of Capacitor 2" class="form-control count"
                        [(ngModel)]="dfcapacitor2" />
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <form [formGroup]="sixthForm" (ngSubmit)="onSixthSubmit()" class="step-container sixth-form"
                    *ngIf="dfcapacitor2 > 0">
                    <div class="first-row row" *ngFor="let item of counter(dfcapacitor2); let i = index">
                      <div class="col-sm-12">
                        <div class="form-data">
                          <div class="input-field">
                            <div class="form-group">
                              <label for="inputFirst2{{i}}" class="label">Type 2 Capacitor {{i+1}}</label>
                              <input type="text" class="form-control" placeholder="Enter Type 2 Capacitor {{i+1}} Value"
                                formControlName="dfcapacitor2Ctrl" id="inputFirst2{{i}}"
                                [ngClass]="{'form-control-danger': sixthForm.invalid && (sixthForm.dirty || sixthForm.touched)}" />
                            </div>
                          </div>
                          <div class="add-button">
                            <div class="navigate-button" (click)="opentransformersMaster(i,6)" title="Add Master">
                              <i class="fas fa-plus-circle"></i>
                            </div>
                          </div>
                          <div class="next-step">
                            <button nbButton
                              class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                              [disabled]="sixthForm.invalid" nbButton nbStepperNext>
                              <i class="fas fa-arrow-right"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <button nbButton nbStepperNext>next</button> -->
                  </form>
                </div>
              </div>
              <div class="col-6 row">
                <div class="col-12">
                  <h6>Distribution Board</h6>
                </div>
                <div class="col-6">
                  <div class="fifth-row main-row row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                      <input type="number" placeholder="Enter the No. of Distribution Board 1"
                        class="form-control count" [(ngModel)]="distribution1" />
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <form [formGroup]="sixthForm" (ngSubmit)="onSixthSubmit()" class="step-container sixth-form"
                    *ngIf="distribution1 > 0">
                    <div class="first-row row" *ngFor="let item of counter(distribution1); let i = index">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-10">
                        <div class="form-data">
                          <div class="input-field">
                            <div class="form-group">
                              <label for="inputFirst3{{i}}" class="label">Type 1 Dist {{i+1}}</label>
                              <input type="text" class="form-control"
                                placeholder="Enter Type 1 Distribution {{i+1}} Value"
                                formControlName="distribution1Ctrl" id="inputFirst3{{i}}"
                                [ngClass]="{'form-control-danger': sixthForm.invalid && (sixthForm.dirty || sixthForm.touched)}" />
                            </div>
                          </div>
                          <div class="add-button">
                            <div class="navigate-button" (click)="opentransformersMaster(i,6)" title="Add Master">
                              <i class="fas fa-plus-circle"></i>
                            </div>
                          </div>
                          <div class="next-step">
                            <button nbButton
                              class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                              [disabled]="sixthForm.invalid" nbButton nbStepperNext>
                              <i class="fas fa-arrow-right"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <!-- <button nbButton nbStepperNext>next</button> -->
                  </form>
                </div>
                <div class="col-6">
                  <div class="sixth-row main-row row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                      <input type="number" placeholder="Enter the No. of Distribution Board 2"
                        class="form-control count" [(ngModel)]="distribution2" />
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <form [formGroup]="sixthForm" (ngSubmit)="onSixthSubmit()" class="step-container sixth-form"
                    *ngIf="distribution2 > 0">
                    <div class="first-row row" *ngFor="let item of counter(distribution2); let i = index">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-10">
                        <div class="form-data">
                          <div class="input-field">
                            <div class="form-group">
                              <label for="inputFirst4{{i}}" class="label">Type 2 Dist {{i+1}}</label>
                              <input type="text" class="form-control"
                                placeholder="Enter Type 2 Distribution {{i+1}} Value"
                                formControlName="distribution2Ctrl" id="inputFirst4{{i}}"
                                [ngClass]="{'form-control-danger': sixthForm.invalid && (sixthForm.dirty || sixthForm.touched)}" />
                            </div>
                          </div>
                          <div class="add-button">
                            <div class="navigate-button" (click)="opentransformersMaster(i,6)" title="Add Master">
                              <i class="fas fa-plus-circle"></i>
                            </div>
                          </div>
                          <div class="next-step">
                            <button nbButton
                              class="size-medium shape-rectangle appearance-hero status-info ng-star-inserted nb-transition"
                              [disabled]="sixthForm.invalid" nbButton nbStepperNext>
                              <i class="fas fa-arrow-right"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <!-- <button nbButton nbStepperNext>next</button> -->
                  </form>
                </div>
              </div>
            </div>
          </nb-step>
          <nb-step [stepControl]="sixthForm" [hidden]="true" label="Sixth level">
            <div class="step-container">
              <nb-alert status="success" accent="danger">You have been successfully saved flow {{ activeFlow }}
              </nb-alert>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</div>